.headerBottom {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin-top: 85px;
    box-shadow: 0px 0px 5px 5px rgba(145, 143, 143, 0.692);
    .nav {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navLeft {
            display: flex;
            align-items: center;
            gap: 10px;
            .navLeft__katalog {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 17px;
                width: 184px;
                height: 54px;
                background-color: #1F1D14;
                color: #fff;
                border-radius: 5px;
            }
            .navLeft__search {
                width: 502px;
                height: 53px;
                padding: 17px 20px;
                display: flex;
                align-items: center;
                background-color: #F2F2F2;
                border-radius: 5px;
                .navLeft__search-inp {
                    width: 100%;
                    font-style: 16px;
                    color: #1F1D14;
                    font-weight: 400;
                    line-height: normal;
                    border: none;
                    outline: none;
                    background: none;
                }
            }
        }
        .navRight {
            display: flex;
            align-items: center;
            gap: 13px;
            .navRight__box-user {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                padding: 13px 12px;
                background-color: #F2F2F2;
            }
            .navRight__box-like {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                padding: 13px 12px;
                background-color: #F2F2F2;
                position: relative;
                .navRight__box-dot {
                    width: 14px;
                    height: 14px;
                    background-color: red;
                    border-radius: 50%;
                    position: absolute;
                    top: -3px;
                    right: -3px;
                }
            }
            .navRight__box__cart {
                padding: 15px 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                background-color:  #F2F2F2;
                border-radius: 5px;
            }

        }
    }
}