* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: fira-sans;
}

.container {
    width: 70%;
    margin: 0 auto;
}

a {
    color: inherit;
}

@font-face {
    font-family: fira-sans;
    src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
}